@use "sass:map";

$breakpoints: (
  sm: 480px,  
  md: 768px,  
  lg: 1024px,  
  xl: 1280px,  
  xxl: 1440px, 
  xxxl: 1920px,
);

@mixin responsive($property, $values) {
  @each $bp, $value in $values {
    @if $bp == xl {
      & {
        #{$property}: $value;
      }
    }
    @else {
      @media (max-width: map.get($breakpoints, $bp)) {
        & {
          #{$property}: $value;
        }
      }
    }
  }
}
