@use "variables" as *;
@use "breakpoints" as *;

#couple-intro {
    min-height: 100dvh;
    position: relative;
    margin: 0 auto;
    .header {
        position: absolute;
        top: 0%;
        left: 47%;
        width: 6.25rem; // 100px
        height: auto;
        @include responsive(
            width,
            (
                xl: 6.25rem,// 100px
                lg: 5rem,  // 80px
                md: 4rem, // 64px
                sm: 3rem // 48px
            )
        );
        @include responsive(
            top,
            (
                xl: 0%,
                lg: 1%,
                md: 2%,
                sm: 0%
            )
        );
        @include responsive(
            left,
            (
                xl: 47%,
                lg: 48%,
                md: 45%,
                sm: 43%
            )
        );
    }
    .family-info {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
        text-align: center;
        gap: 40px;
        @include responsive(
            height,
            (
                lg: 180px,
                md: 160px,
                sm: 140px
            )
        );
        .parent-section {
            width: 45%;
            font-family: "Roboto Slab", sans-serif;
            line-height: 1.5;
            text-align: center;
            .title {
                font-size: 2rem; // 32px
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 8px;
                @include responsive(
                    font-size,
                    (
                        xl: 2rem,
                        // 32px
                        lg: 1.75rem,
                        // 28px
                        md: 1.5rem,
                        // 24px
                        sm: 1.05rem // 20px
                    )
                );
            }

            .name {
                font-size: 1.5rem; // 24px
                font-weight: 600;
                @include responsive(
                    font-size,
                    (
                        xl: 1.5rem,
                        // 24px
                        lg: 1.25rem,
                        // 20px
                        md: 1.125rem,
                        // 18px
                        sm: 0.65rem // 16px
                    )
                );
            }

            .address {
                font-size: 1.25rem; // 20px
                font-weight: 400;
                font-style: italic;
                @include responsive(
                    font-size,
                    (
                        xl: 1.25rem,
                        // 20px
                        lg: 1.125rem,
                        // 18px
                        md: 1rem,
                        // 16px
                        sm: 0.55rem // 14px
                    )
                );
            }
        }
    }
    .couple {
        height: auto;
        text-align: center;
        .title {
            font-size: 2rem; // 32px
            font-family: "Roboto Slab", sans-serif;
            font-weight: 600;
            @include responsive(
                font-size,
                (
                    xl: 2rem,
                    // 32px
                    lg: 1.75rem,
                    // 28px
                    md: 1.5rem,
                    // 24px
                    sm: 0.8rem // 20px
                )
            );
        }
        .name {
            font-size: 3.75rem; // 60px
            font-family: "Imperial Script", cursive;
            font-weight: 600;
            color: $text-color-secondary;
            @include responsive(
                font-size,
                (
                    xl: 3.5rem,
                    // 60px
                    lg: 3rem,
                    // 48px
                    md: 2.5rem,
                    // 40px
                    sm: 2rem // 32px
                )
            );
        }
        .and {
            font-size: 2.5rem; // 40px
            font-family: "Imperial Script", cursive;
            color: $text-color-secondary;
            @include responsive(
                font-size,
                (
                    xl: 2.5rem,
                    // 40px
                    lg: 2rem,
                    // 32px
                    md: 1.75rem,
                    // 28px
                    sm: 1.5rem // 24px
                )
            );
        }
        .image {
            margin: 20px auto;
            border-radius: 10px;
            width: 90%;
            height: auto;
            @include responsive(
                width,
                (
                    xl: 100%,
                    lg: 100%,
                    md: 100%,
                    sm: 100%
                )
            );
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                box-shadow: $box-shadow;
            }
        }
    }
}
