@use "variables" as *;
@use "breakpoints" as *;

#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  min-height: 100vh;
  @include responsive(
    justify-content,
    (
      md: flex-start,
      sm: flex-start,
    )
  );

  .hero-invitation {
    text-transform: uppercase;
    font-family: $font-family-third;
    font-size: 36px;
    // khung hình mixn down
    @include responsive(
      font-size,
      (
        xl: 36px,
        lg: 32px,
        md: 26px,
        sm: 24px,
      )
    );
  }

  .hero-couple-name {
    font-family: $font-family-accent;
    font-size: 4rem;
    color: $text-color-secondary;
    margin: 0.5rem 0;
    font-weight: 600;
    animation: heartbeat 2.2s infinite ease-in-out;
    @include responsive(
      font-size,
      (
        xxxl: 72px,
        xxl: 64px,
        xl: 48px,
        lg: 46px,
        md: 42px,
        sm: 32px,
      )
    );

    span {
      margin: 0 1rem;
      font-weight: normal;
    }
  }

  /* ===========================
       Timeline + Time (đã cân giữa)
       =========================== */
  .hero-info {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 350px;
    @include responsive(
      width,
      (
        md: 100%,
        sm: 100%,

      )
    );
    @include responsive(
      height,
      (
        lg: 280px,
        md: 220px,
        sm: 200px,

      )
    );

    .hero-logo {
      position: absolute;
      top: 0;
      left: 41%;
      width: 150px;
      height: 150px;
      @include responsive(
        width,
        (
          md: 130px,
          sm: 100px,
        )
      );
      @include responsive(
        height,
        (
          md: 130px,
          sm: 100px,
        )
      );

      @include responsive(
        left,
        (
          md: 37%,
          sm: 36%,
        )
      );
    }
    .hero-icon-left {
      position: absolute;
      top: 100px;
      left: -20px;
      width: 10%;
      @include responsive(
        top,
        (
          md: 70px,
          sm: 80px,
        )
      );
    }
    .hero-icon-right {
      position: absolute;
      top: 100px;
      right: -10px;
      width: 10%;
      @include responsive(
        top,
        (
          md: 70px,
          sm: 80px,
        )
      );
    }

    .hero-time {
      position: absolute;
      top: 180px;
      left: 39%;
      font-family: "Roboto Slab";
      letter-spacing: 0.05rem;
      @include responsive(
        top,
        (
          md: 120px,
          sm: 100px,
        )
      );

      @include responsive(
        left,
        (
          lg: 37%,
          md: 33%,
          sm: 31%,
        )
      );

      h3,
      h5 {
        font-size: 28px;
        font-weight: 600;
        @include responsive(
          font-size,
          (
            md: 1.5rem, // 24px
            sm: 1.25rem, // 20px
          )
        );
      }
    }
  }

  /* ===========================
       Ảnh hero (phóng lớn hơn, cân giữa)
       =========================== */
  .hero-image {
    margin: 0 auto;
    
    img {
      width: 80%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      @include responsive(
        width,
        (
          lg: 100%,
          md: 100%,
          sm: 100%,
        )
      );

      //animation: heartbeat 2.2s infinite ease-in-out;
      @include responsive(
        max-width,
        (
          lg: 100%,
          md: 100%,
          sm: 100%,
        )
      );
    }
  }
}
