@use "variables" as *;
@use "breakpoints" as *;
/* --- Background Intro --- */

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  pointer-events: auto;
}

/* Wrapper chứa bg_left + icon_click */
.bg_left_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  transition: transform 5s ease-in-out;
}

/* Khi mở, trượt trái toàn bộ */
.background.opening .bg_left_wrapper {
  transform: translateX(-200%);
}

/* Background bên trái */
.bg_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Background bên phải */
.bg_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  transition: transform 5s ease-in-out;
}
.bg_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Khi mở, trượt phải */
.background.opening .bg_right {
  transform: translateX(200%);
}

/* ẨN HOÀN TOÀN */
.background.hide {
  opacity: 0;
  pointer-events: none;
}

/* --- Nút "Thư mời" --- */
.icon_click {
  position: absolute;
  top: 45%;
  left: 94.5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 120px;
  height: 120px;
  cursor: pointer;
  animation: pulse1 1.2s ease-in-out infinite;
  @include responsive(
    left,
    (
      lg: 90%,
      md: 87%,
      sm: 74%
    )
  );
}

/* --- Nút điều khiển nhạc --- */
.music-button {
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 9999;
  background-color: white;
  border: 1px solid red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.music-button .icon {
  color: red;
}
.music-button.playing {
  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}