@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=My+Soul:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Allura:regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100dvh;
  // overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
section {
  width: 100%;
}

