$primary-color: #ff4081;
$secondary-color: #ff79b0;
$text-color: #333;
$text-color-secondary: #ebae2a;
$background-color: #fff;
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-family-third: 'Roboto Slab', sans-serif;
$font-family-accent: 'Imperial Script', cursive;
$border-radius: 10px;
$transition-duration: 0.3s;
$box-shadow: 0 4px 6px rgba(72, 60, 60, 0.5);